    #notifications {
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    margin-top: 12em;
    clip-path: polygon(7% 0, 100% 0, 100% 20%, 100% 59%, 93% 100%, 20% 100%, 0 100%, 0 43%);
    z-index: 9999;
}


.notification {
    font-size: 1.5em;
    color: #ffffff;
    display: none;
    text-align: right;
}

.notification>span {
    display: inline-block;
    padding:  0.5em 2em 0.5em 2em;
    border-radius: 2px;
}

#errorBox>span {
    background: rgb(132, 191, 239);
}


/* Hide burger on desktop */
.burger {
  display: none;
  font-size: 1.8em;
  cursor: pointer;
}

/* Responsive styles */
@media (max-width: 768px) {
  .burger {
    display: block;
  }

  .navbar {
    flex-wrap: wrap;
  }

  .nav-links {
    flex-direction: column;
    width: 100%;
    display: none;
    background-color: #f2f2f2;
    margin-top: 1em;
  }

  .nav-links.show {
    display: flex;
  }

  .nav-links li {
    padding: 0.5em 1em;
    text-align: center;
  }
}
