<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles/main.css" />
    <script type="module" src="../scripts/app.js"></script>
    <title>Shelfie</title>
  </head>
  <body>
    <header class="header">
      <nav class="navbar">
        <a class="logo" href="./index.html">Shelfie</a>
        <ul>
          <li><a href="./catalog.html">Browse</a></li>
          <li><a href="./login.html">Login</a></li>
          <li><a href="./register.html">Register</a></li>
        </ul>
      </nav>
    </header>
    <main class="book-catalog">
      <h1>Explore Books</h1>
      <div class="book-catalog-grid">
        <a class="books" href="../views/book-details.html">
          <img src="../assets/images/book-1.jpg" alt="book cover" />
          <h4>The Hunger Games</h4>
          <p>Suzanne Collins</p>
        </a>
        <a class="books" href="../views/book-details.html">
          <img src="../assets/images/book-1.jpg" alt="book cover" />
          <h4>The Hunger Games</h4>
          <p>Suzanne Collins</p>
        </a>
        <a class="books" href="../views/book-details.html">
          <img src="../assets/images/book-1.jpg" alt="book cover" />
          <h4>The Hunger Games</h4>
          <p>Suzanne Collins</p>
        </a>
        <a class="books" href="../views/book-details.html">
          <img src="../assets/images/book-1.jpg" alt="book cover" />
          <h4>The Hunger Games</h4>
          <p>Suzanne Collins</p>
        </a>
      </div>
    </main>
  </body>
</html>
