<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles/main.css" />
    <script type="module" src="../scripts/app.js"></script>
    <title>Shelfie</title>
  </head>
  <body>
    <header class="header">
      <nav class="navbar">
        <a class="logo" href="./index.html">Shelfie</a>
        <ul>
          <li><a href="./catalog.html">Browse</a></li>
          <li><a href="./login.html">Login</a></li>
          <li><a href="./register.html">Register</a></li>
        </ul>
      </nav>
    </header>
    <main class="book-catalog">
        <h2>Explore Books</h2>
        <div class="book-catalog-grid">
            <div class="single-book">Book 1</div>
            <div class="single-book">Book 1</div>
            <div class="single-book">Book 1</div>
            <div class="single-book">Book 1</div>
        </div>
    </main>
  </body>
</html>
