<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles/main.css" />
    <script type="module" src="../scripts/app.js"></script>
    <title>Shelfie</title>
  </head>
  <body>
    <header class="header">
      <nav class="navbar">
        <a class="logo" href="./index.html">Shelfie</a>
        <ul>
          <li><a href="./catalog.html">Browse</a></li>
          <li><a href="./login.html">Login</a></li>
          <li><a href="./register.html">Register</a></li>
        </ul>
      </nav>
    </header>
    <main class="main-content">
      <div class="welcome-text">
        <h1>Welcome to Shelfie</h1>
        <h2>Nai dobrata online biblioteka v celiq svqt !!</h2>
        <div class="action-buttons">
          <button><a href="./login.html">Login</a></button>
          <button><a href="./register.html">Register</a></button>
        </div>
      </div>
      <div class="welcome-image">
        <img src="../assets/images/welcome-image.jpg" alt="Image of a book shelf" />
      </div>
    </main>
  </body>
</html>
