.main-content{
  display: grid;
  height: calc(100vh - 76.2px);
  padding:5em  7em 0 7em;
  gap: 2em;
  grid-template-columns: 0.5fr 1fr;
  background-color: #f4f2e9;
}

.welcome-text{
    display: flex;
    flex-direction: column;
    padding:10em 2em;
    /* border: 1px solid black; */
    
}
.welcome-text h1{
    font-size: 4em;
}

.welcome-text .action-buttons{
    display: flex;
    gap: 2em;
}
.welcome-image {
    /* border: 1px solid black; */
}