.book-details-grid-container{
  display: grid;
  grid-template-columns: 1fr 2fr 2fr 2fr;
  grid-template-rows: repeat(2,2fr);
  justify-content: center;
  margin-top: 3em;
}

.book-details-left{
  grid-column-start: 2;
}

.book-details-left img {
  width: 200px;
}

.book-description {
  padding: 1em;
  flex-basis: 75ch;
  flex-grow: 1;
}

.book-description p {
  font-size: 1.2em;
  margin-bottom: 0;
  padding-bottom: 1em;
}

.book-description .label {
  font-weight: 600;
}

.book-description a {
  text-decoration: underline;
}


/* ADD BOOK TO SHELF */

.dropdown {
  display: inline-block;
  margin-top: 1em;
  width: 100%;
  position: relative;
}

.dropdown button {
  background-color: #3f8363;
  color: white;
  padding: 1em;
  border: none;
  cursor: pointer;
  width: 100%;
  border-radius: 2em;
}

.dropdown .options {
  display: none;
  width: 100%;
  text-align: center;
  border: 1px solid black;
}

.dropdown:hover  .options {
  display: block;
}

.dropdown .dropdown-options {
  display: block;
  padding: 1em;
  border-radius: unset;
  width: 100%;
  background-color: white;
  color: black;
}




.dropdown .dropdown-options:hover {
  background-color: rgba(15, 1, 1, 0.363);
}


/* RATINGS */

.rating-container {
  margin-top: 1em;
  text-align: center;

  
}

.stars {
  display: flex;
  justify-content: center;
  gap: 8px;
  cursor: pointer;
}

.star {
  font-size: 2.2em;
  color: lightgray;
  transition: color 0.2s;
}

.star.filled {
  color: rgb(202, 109, 27);
}

.label {
  margin-top: 8px;
  font-size: 16px;
  color: #333;
}

/* REVIEWS */

.review-container {
  display: block;
  width: 50%;
  margin: 0 auto;
  padding: 2em;
}

.review-container .add-review form {
  display: flex;
  flex-direction: column;
}
.review-container .add-review input[type="text"] {
  border: none;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  padding: 10px;
  width: 100%;
}

.review-container .add-review button {
  flex-basis: 30%;
  align-self: flex-end;
  outline: none;
  height: 45px;
  padding: 12px;
  margin-top: 1em;
  border-radius: 12px;
  border: 1.5px solid lightgrey;
}

.review-container .review {
  display: flex;
  margin-top: 1em;
  padding: 1em;
  align-items:flex-start;
  justify-content: flex-start;
  margin-bottom: 1rem;
  outline: 1px solid black;
}
.review-container .review p {
    padding: 1px;
}

.review-container .review img {
  border-radius: 50%;
  height: 50px;
  margin-right: 20px;
  object-fit: cover;
  width: 50px;
}
