.book-catalog h1{
    text-align: center;
    margin: 1em 0;
    font-weight: 600;
}

.book-catalog-grid{
    display: grid;
    margin-top: 2em;
    grid-template-columns: repeat(4, 15em);
    justify-content: center;
    gap: 3em;
}

.book-catalog-grid .books > img {
    border-top-right-radius: 1em;
    border-bottom-right-radius: 1em;

}

.book-catalog-grid .books h4 {
    margin:0.4em 0 0 0;

}

.search-form{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em  ;
}

.input {
    width: 100%;
    max-width: 601.7px;
    height: 45px;
    padding: 12px;
    border-radius: 12px;
    border: 1.5px solid lightgrey;
    outline: none;
    transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
    box-shadow: 0px 0px 20px -18px;
  }
  
  
  .input:hover {
    border: 2px solid lightgrey;
    box-shadow: 0px 0px 20px -17px;
  }
  
  .input:active {
    transform: scale(0.95);
  }
  
  .input:focus {
    border: 2px solid grey;
  }


  .search-button {
    outline: none;
    height: 45px;
    padding: 12px;
    border-radius: 12px;
    border: 1.5px solid lightgrey;

  }

/* FILTER  */

.category-filter {
  display: block;
  width: 601.7px;
  margin: 0 auto;
  font-family: sans-serif;
  margin-top: 1em;
}

.category-filter-toggle {
  padding: 12px;
  border: 1.5px solid lightgrey;
  border-radius: 12px;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.612);
  list-style: none;
  user-select: none;
}

.category-filter-menu {
  display: grid;
  grid-template-columns: repeat(2, 5fr);
  margin-top: 0.5rem;
  padding: 0.5rem;
  background: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.category-filter-menu label {
  display: block;
  margin: 0.3rem 0;
}

