.book-catalog h1{
    text-align: center;
    margin: 1em 0;
    font-weight: 600;
}

.book-catalog-grid{
    display: grid;
    grid-template-columns: repeat(4, 15em);
    justify-content: center;
    gap: 3em;
}

.book-catalog-grid .books > img {
    border-top-right-radius: 1em;
    border-bottom-right-radius: 1em;

}

.book-catalog-grid .books h4 {
    margin:0.4em 0 0 0;

}