.main-content{
  display: grid;
  height: calc(100vh - 76.2px);
  padding:5em  7em 0 7em;
  gap: 2em;
  grid-template-columns: 0.6fr 0.9fr;
}


.welcome-text{
    display: flex;
    flex-direction: column;
    padding:8em 2em;
    /* border: 1px solid black; */
    
}
.welcome-text h1{
    font-weight: 800;
    font-size: 5em;
}

.welcome-text h2{
    font-size: 1.6em;
}

.welcome-text .action-buttons{
    display: flex;
    gap: 4em;
}

.action-buttons > a {
    border: none;
    background-color: #708D81;
    color: white;
    padding: 1em 1.5em;
    /* border-radius: 0.3em; */
    font-size: 1.1em;
}

.features-grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-flow: row;
    outline: 1px solid black;
    padding:3em;
    gap: 3em;
}

.feature-item{
    border: 1px solid black;
    padding: 2em;    
    overflow: hidden;
    word-break: break-word;
}

.app-description h3{ 
    font-weight: 600;
}
.app-description { 
    padding: 3em 7em;
    text-align: center;
    font-size: 1.5em;
    line-height: 1.65;
    background-color: #E7E6E1;
}

.popular-books h2 {
    text-align: center;
    font-weight: 600;
    margin-top: 1em;
}

.popular-books-grid {
    display: grid;
    grid-template-columns: repeat(4, 200px);
    margin-top: 3em;
    justify-content: center;
    gap: 7em;
}

.popular-books img {
    border-top-right-radius: 1em;
    border-bottom-right-radius: 1em;
}

.popular-books-grid > div.books > h4 {
    margin:0.4em 0 0 0;
    font-weight: 500;
    white-space: normal;
    
}
.popular-books-grid > div.books > p {
    font-size: 1.1em;
}

