.main-content{
  display: grid;
  height: 100vh;
  padding-left: 7em;
  gap: 2em;
  grid-template-columns: 1fr 2fr;
  background-image: url("../../images/blob-scene-haikei(6).svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}


.welcome-text{
    display: flex;
    flex-direction: column;
    justify-content: center;    
}
.welcome-text h1{
    font-weight: 800;
    font-size: 5em;
}

.welcome-text h2{
    font-size: 1.6em;
}

.welcome-text .action-buttons{
    display: flex;
    gap: 4em;
}

.action-buttons > a {
    border: none;
    background-color: #708D81;
    color: white;
    padding: 1em 2em;
    border-radius: 2em;
    font-size: 1.1em;
    font-weight: 400;
    
}
/* -------------------------------------- */

.book-stack-wrapper {
  position: relative;
  width: 100%;
  height: auto;
  grid-column: 2 / span 2;
  padding: 2em 0;
}

.book-stack {
  position: relative;
  width: 300px;
  height: 300px;
  margin: 0 auto;
}

.book-stack > img {
    position: absolute;
    border: 7px solid white;
    border-radius: 0.3em;
}

.book-1 {
  z-index: 4;
  transform: translate(-230px, 200px) scale(1);
}

.book-2 {
  z-index: 2;
  transform: translate(100px, 300px) scale(0.85);
}

.book-3 {
  z-index: 3;
  transform: translate(0px, 100px) scale(0.90);
}

.book-4 {
  z-index: 1;
  transform: translate(200px, 160px) scale(0.80);
}


/* ------------------------FEATURES------------------------------- */

.features-grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-flow: row;
    padding:3em 12em;
    gap: 5em;
}

.feature-item{
    display: flex;
    flex-wrap: nowrap;
    flex-shrink: 0;
    flex-direction: column;
    align-items: center;
    border-radius: 0.4em;
    padding: 2em;    
    word-break: break-word;
    background-color: white;
}

.circle-border {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    aspect-ratio: 1 / 1;
    background-color: #F2F2F2;
    border-radius: 50%;
}

.feature-item > h3 {
    font-weight: 500;
    text-align: left;
}

.feature-item > p {
    font-size: 1.1em;
}


.feature-item i{
    color: #708D81;
}

/* --------------------WHY SHELFIE------------------------------- */

.about-app-container {
  display: grid;
  grid-template-columns: 1.5fr 2fr;
  margin-top: 2em;
  padding:3em 12em;
  gap: 5em;
  background-image: url("../../images/blob-haikei(1).svg");
  
}

.about-app-container .about-image img{
  border-radius: 0.4em;
}

.about-app-container .about-description{
  padding: 2em;

}

.about-app-container .about-description h1{
  font-weight: 500;
  font-size: 3em;

}
.about-app-container .about-description p{
  font-size: 1.2em;

}

.about-app-container .about-description{
  display: flex;
  flex-direction: column;
}

.about-app-container .about-description .action-buttons {
  margin-top: 1em;
  font-size: 1.1em;
}

.about-app-container .about-description .action-buttons  a{
  background-color: #708D81;
}


/* --------------------TESTIMONIALS-------------------------------- */
.testimonials-grid-container{
  display: grid;
  width: 70%;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 1fr;
  padding:3em 12em;
  justify-items: center;
  gap: 2em;
  border: 1px solid black;
  margin: 0 auto;
}

.testimonials-grid-container .testimonial-item{
  width: 250px;
  height: 300px;
  border: 1px solid black;
}

/* --------------------RECOMENDED BOOKS-------------------------- */

.popular-books{
  margin-top: 4em;
}

.popular-books-grid {
    display: grid;
    grid-template-columns: repeat(4, 200px);
    margin-top: 3em;
    justify-content: center;
    gap: 7em;

}

.divider {
  display: flex;
  width: 50%;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  color: #708D81; 
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.8em;
}

.divider::before,
.divider::after {
  content: "";
  flex: 1;
  border-bottom: 2px solid #708D81;
  margin: 0 1em;
}


.popular-books-grid  img {
    border-top-right-radius: 1.5em;
    border-bottom-right-radius: 1.5em;
}

.popular-books-grid .book h5 {
    font-weight: 500;
    white-space: normal;
    margin-top: 0.5em;
    margin-bottom: 0;
    
}
.popular-books-grid > div.books > p {
    font-size: 1.1em;
    color: #0D0D0D;
}

